{
  "presets": [
    "env",
    "react"
  ],
  "plugins": [
    [
      "transform-runtime",
      {
        "polyfill": false,
        "regenerator": true
      }
    ],
    [
      "babel-plugin-root-import",
      {
        "rootPathSuffix": "src/"
      }
    ]
  ]
}
