.idea/*
logs
*.log
npm-debug.log*

pids
*.pid
*.seed

lib-cov

coverage

.grunt

.lock-wscript

build/Release
node_modules

public/avatars

*.imo
*.ipr
*.iws
*.iml
settings.json

/apidoc
/build
/out
/dataSources
/.gradle
/.ideaDataSources
