@charset "utf-8";

@import "../../node_modules/bulma/sass/utilities/initial-variables";

$navbar-item-img-max-height: 20rem;

@import "../../node_modules/bulma/bulma";

.image.is-150x150 {
  height: 150px;
  width: 150px;
}
