<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <title>Diluv</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="apple-touch-icon-precomposed" sizes="57x57" href="<%= webpackConfig.output.publicPath %>favicon/apple-touch-icon-57x57.png" />
    <link rel="apple-touch-icon-precomposed" sizes="114x114" href="<%= webpackConfig.output.publicPath %>favicon/apple-touch-icon-114x114.png" />
    <link rel="apple-touch-icon-precomposed" sizes="72x72" href="<%= webpackConfig.output.publicPath %>favicon/apple-touch-icon-72x72.png" />
    <link rel="apple-touch-icon-precomposed" sizes="144x144" href="<%= webpackConfig.output.publicPath %>favicon/apple-touch-icon-144x144.png" />
    <link rel="apple-touch-icon-precomposed" sizes="60x60" href="<%= webpackConfig.output.publicPath %>favicon/apple-touch-icon-60x60.png" />
    <link rel="apple-touch-icon-precomposed" sizes="120x120" href="<%= webpackConfig.output.publicPath %>favicon/apple-touch-icon-120x120.png" />
    <link rel="apple-touch-icon-precomposed" sizes="76x76" href="<%= webpackConfig.output.publicPath %>favicon/apple-touch-icon-76x76.png" />
    <link rel="apple-touch-icon-precomposed" sizes="152x152" href="<%= webpackConfig.output.publicPath %>favicon/apple-touch-icon-152x152.png" />
    <link rel="icon" type="image/png" href="<%= webpackConfig.output.publicPath %>favicon/favicon-196x196.png" sizes="196x196" />
    <link rel="icon" type="image/png" href="<%= webpackConfig.output.publicPath %>favicon/favicon-96x96.png" sizes="96x96" />
    <link rel="icon" type="image/png" href="<%= webpackConfig.output.publicPath %>favicon/favicon-32x32.png" sizes="32x32" />
    <link rel="icon" type="image/png" href="<%= webpackConfig.output.publicPath %>favicon/favicon-16x16.png" sizes="16x16" />
    <link rel="icon" type="image/png" href="<%= webpackConfig.output.publicPath %>favicon/favicon-128.png" sizes="128x128" />
    <meta name="application-name" content="&nbsp;"/>
    <meta name="msapplication-TileColor" content="#FFFFFF" />
    <meta name="msapplication-TileImage" content="favicon/mstile-144x144.png" />
    <meta name="msapplication-square70x70logo" content="favicon/mstile-70x70.png" />
    <meta name="msapplication-square150x150logo" content="favicon/mstile-150x150.png" />
    <meta name="msapplication-wide310x150logo" content="favicon/mstile-310x150.png" />
    <meta name="msapplication-square310x310logo" content="favicon/mstile-310x310.png" />
    <script src="<%= htmlWebpackPlugin.options.bundleUrl %>js/fallback/fallback.min.js" type="text/javascript"></script>
  </head>

  <body>
    <div id="react-app"></div>
  </body>

  <script>
      var config = {
          "debug": true,
          "libs": {

              "Popper": {
                  'urls': [
                      'https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js',
                      '<%= webpackConfig.output.publicPath %>js/popper.js/popper.min.js',
                      '<%= htmlWebpackPlugin.options.bundleUrl %>js/popper.js/popper.min.js',
                  ]
              },

              "jQuery": {
                  'urls': [
                      'https://code.jquery.com/jquery-3.2.1.slim.min.js',
                      '<%= webpackConfig.output.publicPath %>js/jquery/jquery-3.2.1.slim.min.js',
                      '<%= htmlWebpackPlugin.options.bundleUrl %>js/jquery/jquery-3.2.1.slim.min.js',
                  ]
              },

              "css$bootstrap": {
                  "exports": ".col-md-12",

                  'urls': [
                      'https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.3/css/bootstrap.min.css',
                      '<%= webpackConfig.output.publicPath %>css/bootstrap/bootstrap.min.css',
                      '<%= htmlWebpackPlugin.options.bundleUrl %>css/bootstrap/bootstrap.min.css',
                  ]
              },
              "bootstrap": {
                  "deps": ["jQuery", "Popper"],

                  'urls': [
                      'https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.3/js/bootstrap.min.js',
                      '<%= webpackConfig.output.publicPath %>js/bootstrap/bootstrap.min.js',
                      '<%= htmlWebpackPlugin.options.bundleUrl %>js/bootstrap/bootstrap.min.js',
                  ]
              },
              "FontAwesome": {
                  "urls": [
                      'https://use.fontawesome.com/releases/v5.0.2/js/all.js',
                      '<%= webpackConfig.output.publicPath %>js/font-awesome/fontawesome-all.min.js',
                      '<%= htmlWebpackPlugin.options.bundleUrl %>js/font-awesome/fontawesome-all.min.js',
                  ],
              },

              'css$main': {
                  "exports": ".mod-view",
                  'urls': [
                      '<%= webpackConfig.output.publicPath %>css/stylesheet.css',
                      '<%= htmlWebpackPlugin.options.bundleUrl %>css/stylesheet.css'
                  ]
              },
              'main-bundle': {
                  "urls": [
                      '<%= webpackConfig.output.publicPath %><%= webpackConfig.output.filename %>',
                      '<%= htmlWebpackPlugin.options.bundleUrl %><%= webpackConfig.output.filename %>',
                  ],
              },
          },
      };
      fallback.config(config);
      for (var lib in config.libs) {
          require([lib]);
      }
  </script>
</html>
