@charset "utf-8";

@import "../node_modules/bulma/sass/utilities/initial-variables";

$navbar-item-img-max-height: 20rem;

@import "../node_modules/bulma/bulma";
@import '../node_modules/react-select/scss/default';
@import "../node_modules/react-table/react-table.css";
html {
  overflow-y: auto
}

.ReactTable.-highlight .rt-tbody .rt-tr:not(.-padRow):hover {
  background: rgba(0, 0, 0, 0.1)
}
